.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.main {
  margin-top: 150px;
}

#element {
  color: skyblue;
}

.icons-div {
  font-size: large;
}

.icons {
  margin-top: 15px;
  padding-top: 5px;
  height: 30px;
  width: 40px;
}

.section {
  margin-top: 80px;
}

.qual-title {
  display: flex;
  justify-content: flex-start;
}

.qual-year {
  display: flex;
  justify-content: flex-end;
}

.bg_1 {
  height: 400px;
  width: 400px;
  border-radius: 64% 36% 67% 33% / 37% 72% 28% 63%;
  background-color: rgb(104, 15, 33);
  position: absolute;
  z-index: -99;
  right: 0;
}

.bg_2 {
  height: 350px;
  width: 350px;
  border-radius: 17% 83% 72% 28% / 21% 43% 57% 79%;
  background-color: rgb(28, 3, 25);
  position: absolute;
  z-index: -79;
  left: 0;
}

.bg_3 {
  height: 400px;
  width: 400px;
  border-radius: 71% 29% 54% 46% / 37% 45% 55% 63%;
  background-color: rgb(28, 9, 3);
  position: absolute;
  z-index: -90;
  right: 0;
}

.projects_box {
  margin: 0px 2px;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: rgb(4, 17, 30, 0.3);
  padding: 20px;
}

.header_box {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.projects_img {
  object-fit: cover;
  width: 13rem;
  height: 38vh;
  padding: 5px;
  border-radius: 10px;
}

.skill_front {
  border-radius: 10px;
  background-color: rgb(46, 6, 23);
  padding: 30px;
}

.skill_back {
  border-radius: 10px;
  background-color: rgb(85, 16, 45);
  padding: 30px;
}

.skill_data {
  border-radius: 10px;
  background-color: rgb(16, 41, 85);
  padding: 30px;
}

.skill_tech {
  border-radius: 10px;
  background-color: rgb(46, 6, 45);
  padding: 30px;
}

.git_box {
  border-radius: 20px;
  background-color: #191c1f;
  color: white;
  padding: 40px;
}

.revealmainleft {
  overflow: hidden;
  animation: slidein 1.5s ease-in;
}
@keyframes slidein {
  0%{
    transform: translateX(-200px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

.revealmainright {
  overflow-x: hidden;
  animation: slideinr 1.5s ease-in;
}
@keyframes slideinr {
  0%{
    transform: translateX(200px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

.revealmainbottom {
  overflow: hidden;
  animation: slideinb 1.5s ease-in;
}
@keyframes slideinb {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.reveal {
  position: relative;
  transform: translateY(-60px);
  opacity: 0;
  transition: all 1.2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
